faster-than-light @ git+https://github.com/benthomasson/faster-than-light@main
ftl-automation-agent @ git+https://github.com/benthomasson/ftl-automation-agent@main
ftl_module_utils @ git+https://github.com/benthomasson/ftl_module_utils@main
ftl-code-agent @ git+https://github.com/benthomasson/ftl-code-agent@main
ftl-doc-agent @ git+https://github.com/benthomasson/ftl-doc-agent@main
ftl-pytest-agent @ git+https://github.com/benthomasson/ftl-pytest-agent@main
ftlagents @ git+https://github.com/benthomasson/ftlagents@main
ftl-tools @ git+https://github.com/benthomasson/ftl-tools@main
ftl-modules @ git+https://github.com/benthomasson/ftl-modules@main
